
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}

#cadernoEspiral {
    position: relative;
    display: flex;
    gap: 20px;
    top: 10px;

    & .conexoes {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: linear-gradient(to top left, #222, #555);
        box-shadow: 
            2px 2px 4px rgba(0, 0, 0, 0.6), 
            inset -1px -1px 2px rgba(255, 255, 255, 1.4);
        position: relative;
    }
}

#cadernoData {
    position: relative;
    display: inline-flex;
    font-size: 32px;
    top: 70px;
    left: 50px;
    
    & input {
        width: 40px;
        border: transparent;
        border-bottom: 2px solid black;
        text-align: center;
        font-size: 18px;
        font-family: "Kalam", cursive;
    }

    & input:focus {
        outline: none;
    }
}

#cadernoSemana {
    position: relative;
    display: inline-flex;
    gap: 20px;
    top: 70px;
    left: 160px;

    & .cadernoSemanaDia {
        position: relative;
        width: 30px;
        font-size: 24px;
        font-family: 'Courier New', Courier, monospace;
        border: 2px solid black;
        border-radius: 5px;
        cursor: pointer;

        & .spanDias {
            position: relative;
            display: flex;
            justify-content: center;
            pointer-events: none; /* clicar no dia sem interferir no span */
        }   
    }

    & .cadernoSemanaDia .check {
        position: absolute;
        top: -10px;
        left: -15px;
        font-size: 64px;
        color: green;
        display: none;
    }

    & .select {
        width: 60px;
        height: 60px;
    }
}

#container {
    background-color: white;
    width: 700px;
    height: 850px;
    border: 8px solid black;
    border-top: transparent;
    padding-left: 10px;
    position: relative;
}

#cadernoPrincipal {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.cadernoLinhaMarcacao{
    height: 2px;
    width: calc(100% - 10px);
    background-color: black;
    margin: 30px 0px;
}

#cadernoLogo {

    & #cadernoLogoSpiral {
        width: 101px;
        height: 101px;
        position: relative;
        top: -30px;
        left: 5px;
    }
}

#telaLogin {
    position: absolute;
    width: 100%;

    & #textoSuperior {
        position: relative;
        top: 20px;
        left: -20px;
        justify-content: center;
        display: flex; 
        font-size: 64px;
        font-family: 'Kalam', cursive;
        font-weight: 700;
        
    }

    & label {
        display: block;
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        font-size: 32px;
    }

    & #labelEmail {
        top: 30px;
    }

    & #labelSenha {
        top: 40px;
    }
    
    & #iconeHidden {
        position: relative;
        top: -10px;
        left: 470px;
        cursor: pointer;

        & img {
            position: relative;
            top: -3px;
            left: 5px;
            width: 35px;
            height: 35px;
            border: 2px solid black;
            border-radius: 5px;
        }

        & img:hover {
            transform: scale(1.1);
        }
    }


    & #emailInput {
        display: block;
        position: relative;
        left: 120px;
        top: 20px;
        width: 400px;
        height: 50px;
        font-size: 24px;
        font-family: 'Kalam', cursive;
        font-weight: 800;
        padding-left: 10px;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 
            inset 5px 5px 10px rgba(0, 0, 0, 0.5),
            inset -5px -5px 10px rgba(255, 255, 255, 0.7);
    }

    & #senhaInput {
        display: block;
        position: relative;
        left: 120px;
        top: 30px;
        width: 400px;
        height: 50px;
        font-size: 24px;
        font-family: 'Kalam', cursive;
        font-weight: 800;
        padding-left: 10px;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 
            inset 5px 5px 10px rgba(0, 0, 0, 0.5), 
            inset -5px -5px 10px rgba(255, 255, 255, 0.7);
    }
}


#formLogin .neu-input {
    position: relative;
    margin-bottom: 20px;
}

#formLogin .neu-input input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#formLogin .neu-input label {
    position: absolute;
    left: 140px;    
    top: 30%;
    transform: translateY(0);
    color: black;
    font-size: 24px;
    font-weight: 400;
    pointer-events: none;
    transition: all 0.3s ease;
}

#formLogin .neu-input input:focus + label{
    top: 8px;
    font-size: 24px;
    color: black    ;
    transform: translateY(-120%);
    text-align: center;
}